<div class="py-5 container">
    <div class="px-md-5 py-5">
        <h2 class="my-3 text-primary">Rules</h2>
        <p class="my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores corporis dolor officia
            aperiam totam
            saepe esse? Minus libero aliquam sequi omnis voluptas repellendus cum, quas odit nobis tempore, dolores
            maxime velit, illum laudantium quod placeat. Nihil repellendus tempore facere sed eos laboriosam,
            reprehenderit eius repudiandae, quasi, cupiditate minus ducimus voluptatum!</p>
        <p class="my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores corporis dolor officia
            aperiam totam
            saepe esse? Minus libero aliquam sequi omnis voluptas repellendus cum, quas odit nobis tempore, dolores
            maxime velit, illum laudantium quod placeat. Nihil repellendus tempore facere sed eos laboriosam,
            reprehenderit eius repudiandae, quasi, cupiditate minus ducimus voluptatum!</p>
        <p class="my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores corporis dolor officia
            aperiam totam
            saepe esse? Minus libero aliquam sequi omnis voluptas repellendus cum, quas odit nobis tempore, dolores
            maxime velit, illum laudantium quod placeat. Nihil repellendus tempore facere sed eos laboriosam,
            reprehenderit eius repudiandae, quasi, cupiditate minus ducimus voluptatum!</p>
    </div>
</div>