<div class="py-5 container">
<div class="px-md-5 py-5">
    <h2 class="my-3 text-primary">Profile INFO</h2>
<ul class="list-unstyled">
    <li class="my-2"><i class="fas fa-file-signature me-2 text-primary"></i><span class="fw-bolder">First Name :</span> {{userData.first_name}}</li>
    <li class="my-2"><i class="fas fa-file-signature me-2 text-primary"></i><span class="fw-bolder">Last Name :</span> {{userData.last_name}}</li>
    <li class="my-2"><i class="fas fa-envelope me-2 text-primary"></i><span class="fw-bolder">Email :</span> {{userData.email}}</li>
    <li class="my-2"><i class="fas fa-file-signature me-2 text-primary"></i><span class="fw-bolder">Age :</span> {{userData.age}}</li>
    <li class="my-2"><i class="fas fa-id-card me-2 text-primary"></i><span class="fw-bolder">ID :</span> {{userData._id}}</li>
</ul>
</div>
</div>
